*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.box{
  background: linear-gradient(to right, #3DC37DBF, #31CFC7);
  padding: 30px 20px;
  width: 95%;
  border-radius: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;     
}


.box h2{
  text-align: center;
  font-size: 25px;
}


.input-box{
  display: flex;
  margin-top: 20px;
}


.input-box #task{
  width: 90%;
  height: 45px;
  padding: 0 0 0 10px;
  font-size: 15.8px;
  background: #00000096;
  border-radius: 8px 0 0 8px;
  outline: 0;
  border: 1.5px solid #00000080;
  border-right: 0;
  color: #E8D6D6;
}

#task::placeholder{
  color: #DEC7C7E0;
}

.input-box #copy{
  width: 30%;
  background: #000000D9;
  border: 0;
  border-radius: 0 8px 8px 0;
  color: #fff;
  cursor: pointer;
}


.passLength{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.passLength span{
  background: #FFFFFFD6;
  padding: 1px 6px;
  border-radius: 4px;
}

.passLength label{
  font-size: 19px;
}


#range{
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox{
  margin-top: 5px;
}

.checkbox #checkbox1, #checkbox2, #checkbox3, #checkbox4{
  width: 20px;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.checkbox .box1, .box2, .box3, .box4{
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}


.btn-box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#Generator{
  background: #1E5061;
  width: 100%;
  padding: 12px 0;
  border: 0;
  border-radius: 8px;
  color: #fff;
  transition: all 0.2s ease;
  font-size: 20px;
  cursor: pointer;
}


#Generator:active{
  background: #1E5061C4;
  transform: scale(0.99);
}

#Generator:hover{
  background: #1E5061C4;
  transform: scale(0.99);
}



@media(min-width: 768px){
  .box{
    padding: 20px 250px;
    width: 100%;
    
    
  }
}



